.signup{
    background: url('../../assets/bgprakarsh.png');
    height: 190vh;
    /* width: 100vw; */
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    /* min-width: 2000px; */

}

.shead h1{
    padding-top: 5rem;
    font-size: 3rem;
    font-family: 'valorant';
    display: flex;
    justify-content: center;
    background: linear-gradient( 180deg,rgba(128, 128, 128) 1.25%, rgba(128, 128, 128)1.26%, rgba(255, 255, 255) 1.27%, rgba(255,255,255,0.4) 69.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 10px;
    
}

.shead p{
    display: flex;
    justify-content: center;
    font-family: 'valorant';
    text-align: center;
}

.s-content{

    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    position: relative;
    
}

.email{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.email input[type="email"]{
    margin-left: 10px;
    /* border: 2px solid green; */
    position: relative;
    color: white;
    background: rgba(128, 128, 128,0.2);
    width: 10rem;
    border-radius: 4px;
    
    
    

}
.email input:focus{
    /* color: rgb(1, 95, 48); */
    border: 2px solid rgb(1, 95, 48) ;
}

.input::before{
    content:'';
    width: 50px;
    height: 5px;
    border: 2px solid green;
    position: absolute;
    top: 0;
}
.sbtn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    
}

.sbtn button{
    border-radius: 4px;
}
