.signup{
    background: url('../../assets/bgprakarsh.png');
    height: 190vh;
    /* width: 100vw; */
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    /* min-width: 2000px; */

}

.shead h1{
    padding-top: 5rem;
    font-size: 3rem;
    font-family: 'valorant';
    display: flex;
    justify-content: center;
    background: linear-gradient( 180deg,rgba(128, 128, 128) 1.25%, rgba(128, 128, 128)1.26%, rgba(255, 255, 255) 1.27%, rgba(255,255,255,0.4) 69.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 10px;
    
}

.shead p{
    display: flex;
    justify-content: center;
    font-family: 'valorant';
    text-align: center;
}


