#home {
    width: 100vw;
    overflow: hidden;
}


/* .imageholder {
    width: 500px;
    height: 477px;
    background: url("../../assets/loader.mp4") no-repeat center;
    background-position: center center;
    background-size: cover;
} */

.home__container {
    display: grid;
    grid-template-columns: 50% 35%;
    gap: 15%;
    overflow: hidden;
    margin-top: 5rem;
    padding-bottom: 4rem;
}

.home__content {
    margin-left: 3rem;
}

.home__content .home__title h5 {
    width: 90%;
    margin: 1rem 0 1rem 0;
}

.home__content p {
    margin: 2rem 0 2.6rem;
    color: var(--text-p);
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    font-family: "ubuntu";
}

.glow {
    font-family: "Valorant";
    padding-right: .15rem;
    /* font-family: "clips"; */
    /* text-transform: uppercase; */
    font-size: 35px;
    /* position: relative; */
    text-align: center;
    /* margin-left: 16rem; */
    background-image: radial-gradient( ellipse 27% 25% at 50% 50%, #33ff85, transparent);
    color: var(--text-p);
    text-shadow: 0 0 0.6rem #5cff99, 0 0 1.5rem #33ff85, -0.2rem 0.1rem 1rem #1fff78, 0.2rem 0.1rem 1rem #00fd65, 0 -0.5rem 2rem #00fd62, 0 0.5rem 3rem #00cc52;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #1fff78, -0.2rem 0.1rem 1rem #00fd65, 0.2rem 0.1rem 1rem #33ff85, 0 -0.5rem 2rem #00fd62, 0 0.5rem 3rem #00cc52;
    }
    28%,
    33% {
        color: var(--text-p);
        text-shadow: none;
    }
    82%,
    97% {
        color: var(--text-p);
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #00fd65;
        text-shadow: none;
    }
    100% {
        color: var(--text-p);
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #1fff78, -0.2rem 0.1rem 1rem #00fd65, 0.2rem 0.1rem 1rem #33ff85, 0 -0.5rem 2rem #00fd62, 0 0.5rem 3rem #00cc52;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}

.home__logo {
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}

.home__logo-img {
    overflow: hidden;
}

.home__logo-img p {
    position: absolute;
    font-family: "Valorant";
    font-size: 50px;
    bottom: 8rem;
    right: 10rem;
    align-items: center;
    background: linear-gradient( 180deg, #00fd65 1.25%, #00fd65 1.26%, rgba(0, 253, 101, 0.841667) 1.27%, rgba(0, 253, 101, 0) 69.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media screen and (max-width: 1024px) {
    .home__container {
        gap: 5rem;
    }
    .home__logo {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .home__content {
        margin-right: 2rem;
    }
    .home__logo {
        width: 85%;
    }
    /* .home__logo-img p {
    font-size: 30px;
  } */
    .home__content p {
        margin: 1rem 0 1.5rem;
    }
    .home__content .glow {
        /* margin-left: 8rem; */
    }
}

@media screen and (max-width: 936px) {
    #home {
        padding-top: 100px;
    }
    .glow {
        font-size: 40px;
    }
    .home__container {
        gap: 5rem;
    }
    .home__logo {
        width: 90%;
        margin: 2rem auto 4rem;
    }
    .home__content .home__title h5 {
        font-size: 35px;
        line-height: 50px;
    }
    /* .home__logo-img p {
    font-size: 30px;
  } */
    .home__content p {
        font-size: 20px;
        margin: 1rem 0 1.5rem;
    }
    .home__content .glow {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .home__container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0rem;
    }
    .home__logo {
        width: 65%;
        margin: 1rem 4.75rem;
    }
    .home__logo-img p {
        margin-bottom: 18rem;
        right: 8rem;
    }
    .home__content {
        text-align: center;
        margin-top: -6rem;
        padding-top: 3rem;
    }
    .home__content p {
        margin: 1.5rem 0rem 1.5rem 0rem;
        line-height: 30px;
    }
    .home__content .glow {
        /* position: relative;
    margin-left: 6rem;
    margin-top: 3rem; */
    }
}